@import './css/vars.scss';

@font-face {
    font-family: 'NowRegular';
    src: url('~@/assets/fonts/Now-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html {
    font-weight: normal;
    font-style: normal;
    background: $page-background-color;
    text-align: center;
    line-height: 2rem;
    font-size: 14pt;
}
html, button, input {
    font-family: 'NowRegular';
}
button, input {
    font-family: 'NowRegular';
    font-size: 12pt;
}
body {
    margin: 0;
    padding: 1rem;
}
h1, h2, h3, h4 {
    font-weight: normal;
    font-style: normal;
    text-transform: capitalize;
}
h1 {
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    display: inline-block;
    padding: .8rem 1rem .5rem 1rem;
}
@keyframes floating {
    0% {
        transform: rotate(5deg) translate(-3px,0px);
    }
    100% {
        transform: rotate(-5deg) translate(3px,0px);
    }
}
@keyframes pulsing {
    0% {
        transform: scale(0.95,0.95);
    }
    100% {
        transform: scale(1.05,1.05);
    }
}

button {
    background-color: $page-background-color;
    border: 2px solid $border-color;
    padding: 0.5rem;
    width: 100%;
    margin: 1rem auto;
    border-radius: 2px;
    transition: all 0.5s;
    outline: 0;
    &:hover, &:focus {
        background-color: $button-hover-color;
    }
    &::-moz-focus-inner {
        border: 0;
    }
}

input {
    border-radius: 2px;
    border: 2px solid $border-color;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.panel {
    max-width: 400px;
    margin: 1rem auto;
}

ul {
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $link-color;
    transition: all 0.5s;
    cursor: pointer;
    &:hover, &:focus {
        color: $link-hover-color;
    }
}

table {
    margin: auto;
    border-radius: 2px;
    background-color: darken($page-background-color, 12);
}
thead {
    text-transform: capitalize;
}
th {
    font-weight: normal;
}
th, td {
    padding: .2rem 1rem;
}
tbody {
    background-color: darken($page-background-color, 3);
}

.no-margin {
    margin: 0;
}
.no-captalization {
    text-transform: none;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}
