$page-background-color: #f5f1eb;
// $border-color: #4f8490;
$border-color: darken($page-background-color, 25);
$link-color: darken($page-background-color, 50);
$link-hover-color: darken($page-background-color, 25);
$button-hover-color: darken($page-background-color, 10);
